//mixin
@mixin box-green {
	@extend %pos-cent-marg;
	max-width: 960px;
	margin-bottom: 76px;
	padding: 16px 20px;
	display: flex;
	justify-content: space-between;
	@extend %input-hov-act;
	border-radius: 8px;
	font-family: $font-roboto-reg;
	box-sizing: border-box;
}

@mixin btn-inp-form {
	@extend %text-main;
	@extend %pos-cent-marg;
	max-width: 173px;
	display: block;
	padding: 8px 13px;
	color: #ffffff;
	background-color: $color-main;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid $color-main;
	cursor: pointer;
}

@mixin main-text {
	font-family: $font-roboto-reg;
	font-size: 18px;
	text-align: center;
}

@mixin box-advantages {
	@extend %pos-cent-flex;
	@extend %text-main;
	width: 262px;
	min-height: 216px;
	padding: 0 22px;
	text-align: center;
	border: $border-grey;
	border-radius: 8px;
	box-sizing: border-box;
}

$font-sim: "Roboto", Tahoma, Geneva, sans-serif;
$font-header-sim: "Montserrat", Tahoma, Geneva, sans-serif;
$color-but-sim: #159822;
$color-text-header-sim: #00983d;

@mixin button-sim {
	padding: 10px 22px;
	background-color: $color-but-sim;
	border-color: $color-but-sim;
	border-radius: 6px;
	border-style: none;
	font-family: $font-sim;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
}

@mixin box-sim {
	max-width: 300px;
	box-shadow: 0px 3px 11px #f3f3f3;
}

@mixin box-installation-sim {
	width: 212px;
	height: 66px;
	border: 1px solid #d1d1d1;
	border-radius: 8px;
}

@mixin box-kit-sim {
	width: 262px;
	min-height: 104px;
	border: 1px solid #d1d1d1;
	border-radius: 8px;
}

//mixin
@mixin box-green {
	@extend %pos-cent-marg;
	max-width: 960px;
	margin-bottom: 76px;
	padding: 16px 20px;
	display: flex;
	justify-content: space-between;
	@extend %input-hov-act;
	border-radius: 8px;
	font-family: $font-roboto-reg;
	box-sizing: border-box;
}

@mixin btn-inp-form {
	@extend %text-main;
	@extend %pos-cent-marg;
	max-width: 173px;
	display: block;
	padding: 8px 13px;
	color: #ffffff;
	background-color: $color-main;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid $color-main;
	cursor: pointer;
}

@mixin main-text {
	font-family: $font-roboto-reg;
	font-size: 18px;
	text-align: center;
}

@mixin box-advantages {
	@extend %pos-cent-flex;
	@extend %text-main;
	width: 262px;
	min-height: 216px;
	padding: 0 22px;
	text-align: center;
	border: $border-grey;
	border-radius: 8px;
	box-sizing: border-box;
}

@mixin btnGreen {
	min-height: 40px;
	border: 1px solid $color-main;
	color: $color-main;
	@extend %btm-ord-without-back;
	@extend %text-main;
	font-size: 18px;
	box-sizing: border-box;
	font-weight: 400;
}

@mixin wrpTitle {
	padding-top: 10px;
	font-family: $font-roboto-reg;
	color: $color-text-orders;
}

@mixin wrpGeneral {
	width: 1107px;
	padding: 24px 14px;
	position: relative;
}

@mixin wrpCont {
	box-shadow: $block-shadow;
	border-radius: $border-radius;
	box-sizing: border-box;
}

@mixin lineMyOrder {
	border-bottom: $border-grey;
	margin-bottom: 9px;
}

@mixin numberCounter {
	min-width: 24px;
	height: 24px;
	padding: 2px 7px;
	@extend %text-main;
	background-color: $color-main;
	border-radius: 34px;
	color: #ffffff;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
}

//Андрея
//Андрея
//Андрея

$anim-time: 0.2s;
$anim-small-time: 0.1s;

$uiTrans: transparentize(
		$color: #000000,
		$amount: 0.8,
);

@mixin anim($duration: $anim-time) {
	transition: $duration ease-in-out;

	&::before,
	&::after {
		transition: $duration ease-in-out;
	}
}

@mixin animAll($duration: $anim-time) {
	@include anim($duration);

	& * {
		@include anim($duration);
	}
}

$smScreenWidth: 1376px;
$smallestScreenWidth: 1080px;
$smScreenHeight: 720px;

$bigMobileWidth: 960px;

$mobileWidth: 680px;
$mobileHeight: 600px;

///width: #{$smScreenWidth}
@mixin smallScreen {
	@media (max-width: $smScreenWidth), (max-height: $smScreenHeight) {
		@content;
	}
}

///width: #{$smallestScreenWidth}
@mixin smallestScreen {
	@media (max-width: $smallestScreenWidth), (max-height: $smScreenHeight) {
		@content;
	}
}

///width: #{$bigMobileWidth}
@mixin bigMobile {
	@media (max-width: $bigMobileWidth), (max-height: $mobileHeight) {
		@content;
	}
}

///width: #{$mobileWidth}
@mixin mobile {
	@media (max-width: $mobileWidth), (max-height: $mobileHeight) {
		@content;
	}
}

@mixin setAbs($top: 0, $left: 0, $right: 0, $bottom: 0) {
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}

@mixin absoluteGrow($pos: absolute, $pad: 0) {
	position: $pos;
	@include setAbs($pad, $pad, $pad, $pad);
}

@mixin fixedWH($height, $width) {
	min-width: $width;
	min-height: $height;
	max-width: $width;
	max-height: $height;
	width: $width;
	height: $height;
}

///48px
@mixin fontSliderTitle($weight: 500) {
	font-size: 48px;
	line-height: 46px;
	font-weight: $weight;
	text-transform: uppercase;

	@include mobile{
		font-size: 28px;
		line-height: 33px;
	}
}

@mixin fontHeaderPage($weight: 500) {
	font-size: 30px;
	line-height: 36px;
	font-weight: $weight;
}

///28px
@mixin fontTitle($weight: 700) {
	font-size: 28px;
	line-height: 40px;
	font-weight: $weight;
}

///24px
@mixin fontMidHeader($weight: 500) {
	font-size: 24px;
	line-height: 24px;
	font-weight: $weight;
}

///20px
@mixin fontMidTitle($weight: 500) {
	font-size: 20px;
	line-height: 20px;
	font-weight: $weight;
}

///18px
@mixin fontBig($weight: 400) {
	font-size: 18px;
	line-height: 24px;
	font-weight: $weight;
}

///16px
@mixin fontMid($weight: 400) {
	font-size: 16px;
	line-height: 20px;
	font-weight: $weight;
}

///14px
@mixin fontSmall($weight: 400) {
	font-size: 14px;
	line-height: 18px;
	font-weight: $weight;
}

///12px
@mixin fontCaption($weight: 400) {
	font-size: 12px;
	line-height: 16px;
	font-weight: $weight;
}

@mixin scrollbarStyle($width: 5px) {
	$scrollBarColor: $color-back-grey;

	scrollbar-color: $scrollBarColor transparent;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: $width;
		height: $width;
	}
	&::-webkit-scrollbar-button {
		height: 0px;
		width: 0px;
		background-color: transparent;
		border-radius: 8px;
		//display: none;
	}
	&::-webkit-scrollbar-track {
		background-color: #999;
	}
	&::-webkit-scrollbar-track-piece {
		background-color: $color-light-grey;
	}
	&::-webkit-scrollbar-thumb {
		height: 24px;
		background-color: $scrollBarColor;
		border-radius: 3px;
	}
	&::-webkit-scrollbar-corner {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $scrollBarColor;
	}
	&::-webkit-resizer {
		background-color: $scrollBarColor;
	}
}

@mixin iSlideDown($display:block, $time: .8s) {
	display: none;
	max-height: 0;
	max-width: 100%;
	overflow: hidden;
	box-sizing: content-box;

	&.active {
		display: $display;
		max-height: 100vh;
		animation: slideDown .8s forwards;

		@include scrollbarStyle();
	}
}

@mixin hasParent($that) {
	@at-root {
		#{$that} {
			@content;
		}
	}
}

@mixin lineClamp($lines: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

// ui Mixin

@mixin addClickArea($val, $position: relative) {
	position: $position;
	&::before {
		content: "";
		position: absolute;
		top: -$val;
		left: -$val;
		right: -$val;
		bottom: -$val;

		min-height: 100%;
		min-width: 100%;
	}
}

@mixin checkboxMarginLeft($margin) {
	margin-left: Calc(var(--margin) + #{$margin}) !important;
}

@mixin checkboxMarginRight($margin) {
	margin-right: Calc(var(--margin) + #{$margin}) !important;
}

@mixin checkboxMarginTop($margin) {
	margin-top: Calc(var(--margin) + #{$margin}) !important;
}

@mixin checkboxMarginBottom($margin) {
	margin-bottom: Calc(var(--margin) + #{$margin}) !important;
}

@mixin uiCheckbox {
	--margin: 8px;
	--size: 8px;
	position: relative;
	display: block;
	@include fixedWH(0px, 0px);
	margin: var(--margin);
	background-color: transparent;
	cursor: pointer;
	pointer-events: auto;

	@include animAll($anim-small-time);

	&::before,
	&::after {
		content: "";
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;

		@include fixedWH(Calc(var(--size) * 2), Calc(var(--size) * 2));
		display: flex;

		background-image: none;
	}

	&:before {
		background-color: #ffffff;
		border: 1px solid $color-text-orders;
		border-radius: 4px;
	}

	&:after {
		transform: translate(-50%, -50%) scale(0);
		clip-path: polygon(92% 27%, 46% 87%, 16% 68%, 24% 57%, 45% 70%, 80% 21%);
		background-color: $mainSiteColor;
		opacity: 0;
	}

	&:checked:before,
	&.checked:before {
		border-color: $color-main;
	}

	&:checked:after,
	&.checked:after {
		transform: translate(-50%, -50%) scale(0.9);
		opacity: 1;
	}
}
